// Left Navigation

aside {
	top: 0;
	bottom: 0;
	left: 0;
	position: fixed;
	overflow: hidden;
	z-index: 2;
	width: 25%;
	font-size: 14px;
	color: $white;
	text-align: left;

	.bg {
		position: absolute;
		top: 0;
		bottom: 0;
		left: 0;
		right: 0;
		background-color: rgba($indigo, .9);
	}

	a.person {
		text-decoration: none;
		text-align: center;
		display: block;
		margin: 30px 0;
		position: relative;

		.person-avatar {
			margin: 10px 0;
			img {
				width: 152px;
				height: 152px;
				display: inline-block;
			}
		}
		.details {
			// margin-left: -40px;
			// margin-right: -40px;
			text-transform: uppercase;
			color: white;
			.person-name {
				font-size: 1.9em;
				font-weight: 500;
			}
			.person-title {
				font-size: 1.1em;
				margin-top: 0;
			}
		}
	}

	.content {
		position: relative;
		padding: 0 40px 45px;
	}

	nav {
		line-height: 30px;
		position: relative;
		font-size: 14px;
		text-transform: uppercase;
		ul {
			margin: 0;
			padding: 0;
			list-style: none;
			li {
				position: relative;
				margin: 0;
				display: block;
				a {
					display: block;
					color: rgba($white, .6);
					text-decoration: none;
					i {
						display: none !important;
						margin-left: 6px;
					}
					&:hover {
						text-decoration: none;
					}
				}
				&.active a:after {
					content: " ";
					display: block;
					position: absolute;
					width: 0;
					height: 0;
					border-top: 9px solid transparent;
					border-bottom: 9px solid transparent;
					border-right: 8px solid #fff;
					bottom: 6px;
					left: auto;
					right: -40px;
				}
			}
			li a:hover,
			li.active a {
				color: $white;
				i {
					display: inline-block !important;
				}
			}
		}
	}

	.social {
		margin-top: 30px;
		text-transform: uppercase;
		font-size: 14px;
		.title {
			color: rgba($white, .6);
			font-size: .75em;
		}
		.icons {
			margin-top: 10px;
		}
		.icon {
			color: rgba($white, .6);
			text-decoration: none;
			font-size: 1.75em;
			margin-right: 8px;
			&:last-child {
				margin-right: 0;
			}
			&:hover {
				color: $white;
			}
		}
	}
}

// Main Body

body {
	background-color: #f6f6f6 !important;
	font-size: 16px;
}

.body {
	margin-left: 25%;
	&:before {
		position: fixed;
		top: 0;
		bottom: 0;
		left: 0;
		right: auto;
		content: " ";
		display: block;
		width: 25%;
		background: url(/img/left-background.jpg) top center no-repeat #bababa;
		background-size: cover;
	}
	.site {
		.inner {
			background-color: $white;
			padding: 50px;
		}
	}
}

body.thinner {
	.body .site .inner {
		max-width: 850px;
	}
}

body.normal {
	.body {
		h1:first-child {
			margin-top: 0;
			text-transform: uppercase;
		}
		h2 {
			font-weight: 300;
		}
		h3 {
			font-size: 30px;
			margin-bottom: 20px;
			color: rgba($indigo, .9);
			.glyphicon {
				position: relative;
				top: 2px;
			}
		}
	}
}

.h1-bonus {
	font-size: 1em;
	margin-top: 0;
}

hr {
	margin: 20px 0;
}

ul li {
	margin-bottom: 10px;
	&:last-child {
		margin-bottom: 0;
	}
}

.well h4 {
	margin-top: 0;
}