// http://www.colourlovers.com/palette/1366448/Faded_Royals
$indigo: #2f0233;
$turquoise: #15647a;
$cerulean: #0E738F;
$endeavour: #2C4F85;
$regal: #233B5E;

$white: #fff;

$xs-only: "max-width: 767px";
$sm-plus: "min-width: 768px";
$sm-only: "min-width: 768px) and (max-width: 991px";
$md-plus: "min-width: 992px";
